<div class="container">
  <div class="spotslist">

    {{#with spot}}

    <div>
      <img id="pic-size" src="{{this.picture}}" alt="">
    </div>
    <div>
      <h1>{{this.title}}</h1>
    </div>
    <hr>
    <div>
      <h3>Descrição:</h3>
      <p>{{this.description}}</p>

      <h3>Formato:</h3>
      <p>{{this.format}}</p>
      <h3>Capacidade:</h3>
      <p>{{this.capacity}} pessoas</p>
      <h3>Equipamentos:</h3>
      <p>{{this.equipments}}</p>
      <h3>Conveniências:</h3>
      <p>{{this.conveniences}}</p>
      <h3>Horário de funcionamento:</h3>
      <h5>{{this.businessHours}}</h5>
      <hr>
      <h3>Endereço:</h3>
      <p>{{this.address}}</p>
      <h3>Contatos para Reserva:</h3>
      <p>Clique para enviar e-mail:</p>
      <p><a href="mailto:{{this.email}}">{{this.email}}</a></p>
      <p>{{this.phone}}</p>
      {{/with}}
      <a href="/" class="btn btn-primary">Voltar para a Busca</a>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row d-flex">
      <div class="col-sm-12 d-flex justify-content-center align-items-center">
        <p class='footer-second-text'><a href="/comofunciona">Como Funciona</a></p>
        <p class='footer-second-text'><a href="/signup">Anuncie seu Espaço</a></p>
        <p class='footer-second-text'><a href="/termosecondicoes">Termos de Uso</a></p>
        <p class='footer-second-text'><a href="/area">Área Restrita</a></p>
        <p class='footer-second-text'><a href="mailto:projeto99espacos@gmail.com">Fale Conosco</a></p>
      </div>
    </div>
  </div>
</footer>